body {
  background-image: url("../css/image/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  color: navy;
}

h2 {
  color: navy;
  font-size: 40px;
}

.choices {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px: padding: 5px;
  border: 2px solid gray;
  background-color: fuchsia;
}

#submit {
  background-color: green;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 50px;
  float: right;
}
#results{
  background-color: navy;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 36px;
  margin: 50px;
}
.btn{
  background-color: black;
  color: white;
  font-size: 30px;
  text-align: center;
}
